/* .customFormInput {
    border: 1px solid blue;
} */

.customFormInput:focus{
    outline: 0.125em solid #1f80ff !important;
    box-shadow: none;
}
.customFormInput{
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 75%);
}

/* .container{

} */

.card{
    border:1px solid #1f80ff;
}

.card:hover{
    transform: translateY(-2px);
    box-shadow: 0 1px 5px rgb(165, 165, 165);
}

.customBadge{
    font-weight: 200;
    font-family: monospace;
}
